<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-init-method="init"
	default-destroy-method="destroy">

    <bean id="car" class="org.springframework.beans.my.Car">
<!--        <property name="brand" value="宝马"/>-->
<!--        <property name="color" value="黑色"/>-->
<!--        <property name="maxSpeed" value="34"/>-->
		<constructor-arg name="brand" value="宝马"/>
		<constructor-arg name="color" value="黑色"/>
		<constructor-arg name="maxSpeed" value="34"/>
    </bean>
	     <!-- FactoryBean -->
<!--	<bean id="car" class="org.springframework.beans.my.MyFactoryBean"/>-->

<!--	<bean id="myCommand" class="org.springframework.beans.my.Command" scope="prototype">-->
<!--		<property name="state" value="hah"/>-->
<!--	</bean>-->
<!--	<bean id="command" class="org.springframework.beans.my.CommandManager">-->
<!--		<lookup-method name="createCommand" bean="myCommand"/>-->
<!--	</bean>-->
</beans>